<div class="container">
  <section class="type-boxes">
    <div class="type-area">
      {{textarea placeholder="Title" class="title-input" value=noteTitle}}
      <div class="input">
        {{textarea placeholder="Add a note!" value=noteCopy}}
        <a href="#" {{action 'newNote' note}} class="save-button">
          <i class="fa fa-arrow-circle-o-right"></i>
        </a>
        <!-- <button class="save-button"{{action 'newNote'}}>Save Note</button> -->
      </div>
    </div>

    <div class="live-text">
      <h3>{{noteTitle}}</h3>
      {{noteCopy}}
    </div>
  </section>

  <section class="saved-notes">
    {{#each note in model}}
      {{local-note note=note deleteNote="deleteNote"}}
    {{/each}}
  </section>

  {{outlet}}

</div>
