<div class="container">

  <section class='search'>
    <div class='search-bar'>
      {{input placeholder="Search..." class="search-input" value=q}}
      <a href="#" {{action 'noteSearch' }} class='search-button'>
        <i class='fa fa-angle-double-right'></i>
      </a>
    </div>
  </section>

  <section class="type-boxes">
    <div class="type-area">
      {{textarea placeholder="Your name" class="title-input" value=noteTitle}}
      <div class="input">
        {{textarea placeholder="Leave me a note!" value=noteCopy}}
        <a href="#" {{action 'newNote' note}} class="save-button">
          <i class="fa fa-arrow-circle-o-right"></i>
        </a>
      </div>
    </div>

    <div class="live-text">
      <h3>{{noteTitle}}</h3>
      {{noteCopy}}
    </div>
  </section>

  <section class="saved-notes">
    {{#each note in model}}
      {{local-note note=note deleteNote="deleteNote"}}
    {{/each}}
  </section>

  {{outlet}}

</div>
